_site/
.bundle/
Gemfile.lock
vendor/
.ipynb_checkpoints/
*.pptx
*.zip
*_old_files/
*.7z
*.asv
*.aux
*.auxlock
*.backup
*.bak
*.bat
*.bbl
*.bkp
*.blg
*.dpth
*.DS_Store
*.DS_Store*
*.dvi
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.lock
*.lof
*.log
*.lot
*.m~
*.md5
*.nav
*.new
*.out
*.ps
*.pyc
*.slx.original
*.slxc
*.spl
*.snm
*.swp
*.synctex.gz
*.synctex*
*.tcp
*.temp
*.tmp
*.toc
*.tps
*.sav
*-checkpoint.ipynb
*.run.xml
*.bcf